.search-resault {
    display: flex;
    margin-top: 20px;
}

.search-resault_count {
    margin: 0px 10px;
}

.repository-main_item {
    display: ruby;
}

.repository-btn {
    margin-left: 20px;
    background-color: #222;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.filter-item {
    margin-top: 10px;
}

#popular-btn {
    padding: 5px;
    background-color: #586e5e;
    color: #fff;
    border-radius: 10px;
}

.close-btn {
    display: none;
}